<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 21_BasicWhite (11.0)</string>
	<string>M11.0.1-7030.1.2-4</string>
	<string>M11.1-7031.0.102-2</string>
	<string>M11.0.1-7030.1.2-4</string>
	<string>G-r1110-11B106</string>
</array>
</plist>
